
:root {
  --imgdH: 22vh;
}

.a1 {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}


.m0 {
  margin: 0px;
}
.m10px {
  margin: 10px;
}

.tc {
  text-align: center;
  font-family: Arial, sans-serif;
}

.t20px {
  font-size: 20px;
}
.t25px {
  font-size: 25px;
}
.t30px {
  font-size: 30px;
}
.t40px {
  font-size: 40px;
}

.tf {
  font-family: Arial, sans-serif;
  text-align: left;
}

.t1 {
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 40px;
}
.t2 {
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 30px;
}

.cl {
  display: flex;
  justify-content: center ;
  width: 50%;
  height: max-content;

}

.imgHolder {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: max-content;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main1 {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  margin: 0px;
}
.centerWin {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.centerSub {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;

}

